*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FE4A49;
}

header{
    background-color: #2AB7CA;
    align-content: space-around;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #F4F4F8;
}

.container{
    background-color:#FED766;
    vertical-align: middle;
    text-align: center;
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
}

.row{
    background-color: #FE4A49;
}

button{
    height: 30px;
    background-color: #FE4A49;
    font-family: 'Montserrat', sans-serif; 
    padding: 2px;
    margin-top: 5px;
    border-style: solid ;
}

button:hover{
    background-color: #f66464;
} 